<html>
<head>
<title>
pod test
</title>
<style type="text/css">
h1.a { color: red; }
h3.c {
color: blue;
margin-left: 20;
}
ul.d {
color: pink;
}
body {
margin-left: 10;
}
</style>
</head>
<body>
<main>
<hr>
Created with the Perl Module <b>Pod::2::html</b><br>
This Module is written by <a href="mailto:ingo@perl-tutor.de">Ingo Walz</a> (<a href="http://perl-tutor.de/perl_index.pl">http://perl-tutor.de</a>)
</body>
</html>